<div class="col-2">
<li><img class="img"  src="{{image_url}}" alt="Image of beer"></li>
</div>
<div class="col-5">
<li>{{name}}</li>
<li>{{description}}</li>
<li>{{tagline}}</li>
</div>


<li>{{food_pairing}}</li>
 <li>{{brewers_tips}}</li>